.home-section {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 32px;
	min-width: 60vh;
	margin: 30px 100px;
}

.home-text {
	color: var(--slate);
	font-size: clamp(1.25rem, 2vw, 1.75rem);
  	font-weight: 400;
	padding-bottom: 100px;
}

.home-subtitle {
	color: var(--gold);
	text-transform: uppercase;
	letter-spacing: .15rem;
}

.home-photo img {
	border-radius: 23px;
}