.quote {
  padding: 0px 100px;
}

.section-divider {
  display: flex;
  align-items: center;
  padding: 24px 24px 0px 24px;
  gap: 12px;
  scroll-margin-top: 50px;
}

.section-divider .marker { 
  color: var(--gold); 
  flex-shrink: 0; 
}

.section-divider .num { 
  font-family: sans-serif; 
  font-size: 14px; color: var(--gold); 
  letter-spacing: .1em; 
  flex-shrink: 0; 
}

.section-divider .line-divider { 
  flex: 1; 
  height: 0.5px; 
  background: var(--gold); 
  margin: 0px 8px
}

.section-divider .section-label { 
  font-family: sans-serif; 
  font-size: 16px; 
  letter-spacing: .14em; 
  text-transform: uppercase; 
  color: var(--text-muted); 
  flex-shrink: 0; 
}

.portfolio-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 18px;
  align-items: center;
  padding: 24px;
}

.section-statement {
  font-size: clamp(1.25rem, 1.25vw, 2.5rem);
  font-weight: 400;
  line-height: 1.35;
  color: var(--gold);
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-style:italic;
}

.section-statement span {
  font-size: 1.5rem;
  color: var(--gold);
  font-style: italic ;
}

.section-statement img {
  max-width: 300px;
  height: auto;
}

.section-info {
  font-size: 18px;
  line-height: 1.85;
  color: var(--text-muted);
  margin: 50px; 
  text-align: center;
}

.section-link {
  font-family: sans-serif;
  font-size: 16px;  
  text-decoration: none;
  letter-spacing: .06em;
  text-transform: capitalize;
  color: var(--gold);
  display: inline-block;
  transition: color 0.2s; 
}

.section-link:hover { color: var(--gold-light); }

.contact-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.portfolio-footer {
  background: var(--slate);
  color: var(--slate-muted);
  padding: 8px;
  letter-spacing: .15rem;
  font-size: .65rem;
}

/* ------------ Brand section ----------- */
.section-divider.cream, .portfolio-section.cream, .section-statement.cream {
  background: var(--cream-warm);
  color: var(--slate);
}

/* ------------ development section ----------- */
.section-divider.slate, .portfolio-section.slate, .section-statement.slate {
  background: var(--slate);
  color: var(--cream-warm);
}

.skills-section {
  display: block;
}

.skill-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.skill-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  gap: 12px;
  margin: 0;
  padding: 6px 50px;
}

.skill-pill {
  font-size: .85rem;
  color: var(--gold-light);
  padding: 5px 20px;
  border-radius: 3px;
  border: 3px double var(--slate-muted);
  width: fit-content;
}

.skill-pill.muted {
  color: var(--gold);
  border: 2px solid var(--muted);
}